@import url("config.css");

nav .nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .nav-logo {
	max-width: 141px;
}

ul li {
	display: inline-block;
	margin-right: 2rem;
}
